{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Изменить пароль</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="alert alert-danger mb-2 w-100" role="alert">
                                {{ field }}:
                                {{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group input-group">
                            {% if field.name == "old_password" %}
                                {% define "fa fa-lock fa-fw" as icon %}
                                {% define "class=form-control,placeholder=Ваш старый пароль" as attrs %}
                            {% elif field.name == "new_password1" %}
                                {% define "fa fa-lock fa-fw" as icon %}
                                {% define "class=form-control,placeholder=Новый пароль" as attrs %}
                            {% elif field.name == "new_password2" %}
                                {% define "fa fa-lock fa-fw" as icon %}
                                {% define "class=form-control,placeholder=Новый пароль ещё раз" as attrs %}
                            {% endif %}
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="{{ icon }}"></i> </span>
                             </div>
                            {% with arg=""|add:attrs %}
                                {{ field|add_attr:arg }}
                            {% endwith %}
                        </div>
                    {% endfor %}

                    <div class="col-md-6 offset-md-4">              
                            <button type="submit" class="btn btn-primary">
                                Изменить пароль
                            </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}