<!-- Форма добавления комментария -->
{% load user_filters %}
{% load static %}

{% if user.is_authenticated %}
<div class="card my-4">

    <form method="post" action="{% url 'add_comment' post.author.username post.pk %}">
        {% csrf_token %}
        {{ form.media }}
        <h6 class="card-subtitle ml-4 mt-3">Добавить комментарий:</h6>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|add_attr:"class=form-control,rows=3" }}
            </div>
            <button type="submit" class="btn btn-default float-right mb-2 text-light">Отправить</button>
        </div>
    </form>
</div>
{% endif %}



<!-- Комментарии -->
{% load mptt_tags %}
<div class="comments">
    {% recursetree comments %}
        <div class="comment-box {% if node.is_child_node %}replied{% endif %} level-{{ node.level }}">
            <h6 class="card-subtitle mt-2 text-muted d-flex justify-content-between align-items-center">
                <a href="#">{{ node.author.username }}</a>
                <span>{{ node.created|date:"d.m.y" }}</span>
            </h6>
            <hr>
            <p class="card-text">{{ node.text|linebreaksbr }}</p>
            <hr>
            <div class="comment-meta">
                <a class="card-link" href="{% url 'comment_like' comment_id=node.pk %}?next={{ request.path }}">
                    <button class="comment-like"><i class="far fa-thumbs-up"></i> {{ node.likes.count }}</button>
                </a>
                <a class="card-link pl-0 ml-0" href="{% url 'comment_dislike' comment_id=node.pk %}?next={{ request.path }}">
                    <button class="comment-dislike"><i class="far fa-thumbs-down"></i> {{ node.dislikes.count }}</button>
                </a>
                <a href="{% url 'reply_comment' post.author.username post.pk node.pk %}">
                    <button class="comment-reply reply-popup">
                        <i class="fa fa-reply-all" aria-hidden="true"></i> Ответить
                    </button>
                </a>
            </div>
            {% if parent_id == node.pk %}
                <form method="post" class="pt-3"
                      action="{% url 'reply_comment' post.author.username post.pk node.pk %}">
                    {% csrf_token %}
                    <div class="card-body mt-2">
                        <div class="form-group">
                            {{ form.text|add_attr:"class=form-control,rows=2" }}
                        </div>
                        <button type="submit" class="btn-primary float-right ml-2">Ответить</button>
                        <a href="{% url 'add_comment' post.author.username post.pk %}">
                            <button class="btn-danger float-right" type="button">Отменить</button>
                        </a>
                    </div>
                </form>
            {% endif %}
        {% if not node.is_leaf_node %}
            {{ children }}
        {% endif %}
        </div>
    {% endrecursetree %}
</div>


