<div class="row pl-4 pr-3 mb-0 d-flex justify-content-between align-items-end">
    {% if user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark {% if index %}active{% endif %}"
               href="{% url 'index' %}">
                Все авторы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark {% if follow %}active{% endif %}"
               href="{% url 'follow_index' %}">
                Избранные авторы
            </a>
        </li>
    </ul>
    {% endif %}
    <div></div>
    {% if index %}
        <div class="dropdown show sort">
            <a class="btn btn-dark btn-sm dropdown-toggle shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировка по
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item {% if sort == 'pub_date' %}active{% endif %}" href="{% url 'index' %}?sort=pub_date">
                    <i class="far fa-calendar-alt"></i> Дате публикации
                </a>
                <a class="dropdown-item {% if sort == 'comments_count' %}active{% endif %}" href="{% url 'index' %}?sort=comments_count">
                    <i class="far fa-comment"></i> Кол-ву комментов
                </a>
                <a class="dropdown-item {% if sort == 'rating' %}active{% endif %}" href="{% url 'index' %}?sort=rating">
                    <i class="far fa-thumbs-up"></i> Рейтингу
                </a>
            </div>
        </div>
    {% endif %}
</div>
