{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
{% load user_filters %}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            {% load static %}
            <img src="{% static 'imgs/rocket.png' %}" alt=""/>
            <h3>Добро пожаловать!</h3>
            <p>Войдите в свой аккаунт и вы
                сможете оставлять записи в этом замечательном блоге!</p>

            <a href="{% url 'signup' %}">
                <input type="submit" name="" value="Регистрация"/> <br/>
            </a>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content">
                <div class="tab-pane fade show active"
                     role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Авторизация</h3>
                    <form class="row register-form" method="post"
                          action="{% url 'login' %}">
                        {% csrf_token %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-danger mb-2 w-100"
                                     role="alert">
                                    {{ field }}:
                                    {{ error }}
                                    <button type="button" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user fa-fw"></i>
                                </span>
                             </div>
                            {{ form.username|add_attr:"class=form-control,placeholder=Имя пользователя или E-mail" }}
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock fa-fw"></i>
                                </span>
                            </div>
                            {{ form.password|add_attr:"class=form-control,placeholder=Пароль" }}
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary btn-block">Войти</button>
                        </div>
                        <a href="{% url 'password_reset' %}"
                           class="btn btn-link d-flex align-items-end mb-2">
                            Забыли пароль?
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
