{% extends "base.html" %}
{% block title %}{% if post %}Изменить запись{% else %}Добавить запись{% endif %}{% endblock %}
{% block content %}
{% load user_filters %}

<div class="container register">
    <div class="row">
        <div class="col-lg-12 register-right">
            <div class="tab-content">
                <div class="tab-pane fade show active"
                     role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">{% if post %}Изменить запись{% else %}Добавить запись{% endif %}</h3>
                    <form class="row register-form overflow-hidden" method="post"
                          action="{% if post %}{% url 'post_edit' request.user.username post.id %}{% else %}{% url 'new' %}{% endif %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-danger mb-2 w-100"
                                     role="alert">
                                    {{ field }}:
                                    {{ error }}
                                    <button type="button" class="close"
                                            data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form-group input-group">
                            {{ form.text }}
                        </div>
                        <div class="form-group input-group">
                            {{ form.group|add_attr:"class=form-control" }}
                        </div>
                        <div class="form-group input-group">
                            {{ form.tags|add_attr:"class=form-control,title=Выберите теги*" }}
                        </div>
                        <div class="form-group input-group d-none">
                            {{ form.image|add_attr:"class=d-none" }}
                        </div>
                        {% if post.image_name %}
                            <span class="font-italic font-weight-light mt-3">
                                <span class="d-block w-100 h-100">
                                    <p class="float-left">Текущая картинка: </p>
                                    <div class="float-right edit-pic ml-2">
                                        <p class="d-block">{{ post.image_name }}</p>
                                        <a class="d-block" href="{{ post.image.url }}" target="_blank">
                                            <img style="width: 100px;" src="{{ post.image.url }}" alt="image" />
                                        </a>
                                    </div>
                                </span>
                                <p class="d-block mb-5">
                                    Удалить: <input type="checkbox" name="image-clear" id="image-clear_id">
                                </p>
                            </span>
                        {% endif %}
                        <div class="input-group mt-5">
                            <label class="input-group-btn">
                                <span class="btn border-secondary btn-light castom-input">
                                    <i class="fas fa-upload"></i> Выберите картинку*
                                    {{ form.image|add_attr:"class=d-none" }}
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <p class="text-right text-secondary btn-block"><small>* - необязательно к заполнению</small></p>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-pencil-alt"></i> {% if post %}Сохранить{% else %}Добавить{% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
