{% extends "base.html" %}
{% load navigation %}
{% block title %}Избранные авторы{% endblock %}
{% block header %}Избранные авторы{% endblock %}

{% block content %}
<div class="row mt-1">

    <div class="col-lg-3">{% get_groups %}{% get_tags %}</div>
    <div class="col-lg-9 mb-2">
        {% include "posts/include/menu.html" with follow=True %}

        {% for post in page %}
                {% include "posts/include/card.html" with post=post %}
        {% empty %}
            <div class="card not-found h-100 text-center d-flex justify-content-center">
                Вы ещё ни на кого не подписаны!
            </div>
        {% endfor %}

        {% if page.has_other_pages %}
            {% include "posts/include/paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </div>

</div>
{% endblock %}