{% extends "base.html" %}
{% load navigation %}
{% block title %}Записи по тегу: {{ tag.title }}{% endblock %}
{% block header %}Записи по тегу: {{ tag.title }}{% endblock %}

{% block content %}
<div class="row mt-1">
    <div class="col-lg-3">{% get_groups %}{% get_tags %}</div>
    <div class="col-lg-9 mb-2">
        {% for post in page %}
            {% include "posts/include/card.html" with post=post %}
        {% empty %}
        <div class="card not-found h-100 text-center d-flex justify-content-center">
            <p>По этому тегу ещё нет никаких записей.</p>
            <p>Вы можете стать первым!</p>
        </div>
        {% endfor %}
        {% if page.has_other_pages %}
            {% include "posts/include/paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </div>
</div>
{% endblock %}